@keyframes sliding {
    0%{
        background-color: rgb(20, 192, 72);
        left: 0px;
        top: 0px;
    }
    50%{
        background-color: brown;
        left: 150px; 
        top: 150px;
    }
}
.animation{
    background-color: chartreuse;
    width: 200px;
    height: 200px;
}
.ball{
    background-color: cadetblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: sliding 1s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
    


}