
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 3px 3px 4px black;
    background-color: azure;


}
.card-container:hover{
   
    box-shadow: 6px 6px 8px gray;
    transition: 0.1s;
}
.card-img img{
    width: 95%;
    margin-left: 7px;
    margin-top: 7px;
  
}
.card-title{
    text-align: center;

}
.card-descrip{
    text-align: justify;
    padding: 8px;
}