* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

nav {
    text-decoration: none;
    text-align: right;
    margin-left: 350px;
    margin-top: 10px;
    word-spacing: 5px;
    font-size: 25px;
    font-weight: 700;

}

section {
    margin-top: 100px;
}