
.one {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.two {
    background-color: aqua;
    width: 100px;
    height: 100px;
    /* visibility: hidden; */
    display: none;
}

.three {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

.four {
    background-color: chocolate;
    width: 100px;
    height: 100px;
}